a:hover {
  text-decoration: none; }

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media (min-width: 1200px) {
  #discoverButton {
    font-size: 20px; } }

#discoverButton {
  margin-top: 30px;
  background-color: black;
  border: 3px white solid; }

#discoverButton:hover {
  background-color: white;
  color: black;
  border-color: white; }

#navbar-page .navigation-clean-button {
  background: #070707;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0; }

@media (min-width: 768px) {
  #navbar-page .navigation-clean-button {
    padding-top: 1rem;
    padding-bottom: 1rem; } }

#navbar-page .navigation-clean-button .navbar-brand {
  font-weight: bold;
  color: #269d9d; }

#navbar-page .navigation-clean-button .navbar-brand:hover {
  color: #66d7d7; }

#navbar-page .navigation-clean-button.navbar-dark .navbar-brand:hover {
  color: #f0f0f0; }

#navbar-page .navigation-clean-button .navbar-brand img {
  height: 100%;
  display: inline-block;
  margin-right: 10px;
  width: auto; }

#navbar-page .navigation-clean-button .navbar-toggler {
  border-color: #ddd; }

#navbar-page .navigation-clean-button .navbar-toggler:hover, #navbar-page .navigation-clean-button .navbar-toggler:focus {
  background: none; }

#navbar-page .navigation-clean-button.navbar-dark .navbar-toggler {
  border-color: #555; }

#navbar-page .navigation-clean-button .navbar-toggler {
  color: #888; }

#navbar-page .navigation-clean-button.navbar-dark .navbar-toggler {
  color: #eee; }

#navbar-page .navigation-clean-button .navbar-collapse, #navbar-page .navigation-clean-button .form-inline {
  border-top-color: #ddd; }

#navbar-page .navigation-clean-button.navbar-dark .navbar-collapse, #navbar-page .navigation-clean-button.navbar-dark .form-inline {
  border-top-color: #333; }

#navbar-page .navigation-clean-button .navbar-nav a.active, #navbar-page .navigation-clean-button .navbar-nav > .show > a {
  background: none;
  box-shadow: none; }

#navbar-page .navigation-clean-button.navbar-light .navbar-nav a.active, #navbar-page .navigation-clean-button.navbar-light .navbar-nav a.active:focus, #navbar-page .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #269d9d;
  box-shadow: none;
  background: none;
  pointer-events: none; }

#navbar-page .navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px; }

#navbar-page .navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #fff; }

#navbar-page .navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, #navbar-page .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #269d9d !important;
  background-color: transparent; }

#navbar-page .navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px #fff;
  background-color: #fff;
  border-radius: 2px; }

#navbar-page .navigation-clean-button .dropdown-menu .dropdown-item:focus, #navbar-page .navigation-clean-button .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  color: #fff; }

#navbar-page .navigation-clean-button .dropdown-menu .dropdown-item:focus, #navbar-page .navigation-clean-button .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit; }

@media (max-width: 767px) {
  #navbar-page .navigation-clean-button .navbar-nav .show .dropdown-menu {
    box-shadow: none; } }

@media (max-width: 767px) {
  #navbar-page .navigation-clean-button .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #37434d;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1; } }

#navbar-page .navigation-clean-button.navbar-dark {
  background-color: #1f2021;
  color: #fff; }

#navbar-page .navigation-clean-button.navbar-dark .navbar-nav a.active, #navbar-page .navigation-clean-button.navbar-dark .navbar-nav a.active:focus, #navbar-page .navigation-clean-button.navbar-dark .navbar-nav a.active:hover {
  color: #269d9d;
  box-shadow: none;
  background: none;
  pointer-events: none; }

#navbar-page .navigation-clean-button.navbar-dark .navbar-nav .nav-link {
  color: #dfe8ee; }

#navbar-page .navigation-clean-button.navbar-dark .navbar-nav .nav-link:focus, #navbar-page .navigation-clean-button.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: transparent; }

#navbar-page .navigation-clean-button.navbar-dark .navbar-nav > li > .dropdown-menu {
  background-color: #1f2021; }

#navbar-page .navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item:focus, #navbar-page .navigation-clean-button.navbar-dark .dropdown-menu .dropdown-item {
  color: #f2f5f8; }

@media (max-width: 767px) {
  #navbar-page .navigation-clean-button.navbar-dark .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fff; } }

#navbar-page .navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  color: #fff; }

#navbar-page .navigation-clean-button.navbar-dark .actions .login {
  color: #dfe8ee; }

#navbar-page .navigation-clean-button.navbar-dark .actions .login:hover {
  color: #fff; }

#navbar-page .navigation-clean-button .navbar-text .action-button, #navbar-page .navigation-clean-button .navbar-text .action-button:active, #navbar-page .navigation-clean-button .navbar-text .action-button:hover {
  background: #269d9d;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color 0.25s;
  font-size: inherit; }

#navbar-page .navigation-clean-button .navbar-text .action-button:hover {
  background: #66d7d7; }

#navbar-page .navigation-clean-button.navbar-dark .action-button, #navbar-page .navigation-clean-button.navbar-dark .action-button:active {
  background: #269d9d; }

#navbar-page .navigation-clean-button.navbar-dark .action-button:hover {
  background: #269d9d; }

#navbar-page a {
  outline: none; }

#login-page .login:visited {
  color: #fff !important; }

#login-page .login:hover {
  color: #269d9d !important; }

#login-page .mh-100vh {
  min-height: calc(100vh - 88px); }

#login-page #login-block {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  z-index: 2; }

@media (max-width: 991.98px) {
  #login-page #login-block {
    opacity: .95; } }

@media (max-width: 991.98px) {
  #login-page #bg-block {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; } }

@media (min-width: 992px) {
  #login-page .w-lg-75 {
    width: 75%; } }

@media (min-width: 992px) {
  #login-page .rounded-lg-0 {
    border-radius: 0 !important; } }

@media (min-width: 1200px) {
  #login-page .w-xl-50 {
    width: 50%; } }

#login-page #bg-block {
  background-image: url(../images/photo-nic-co-uk-nic-7D5n6LfqAKk-unsplash.jpg);
  background-size: cover;
  background-position: center center; }

#home-page #newest {
  background-image: url(../images/tyler-nix-Pw5uvsFcGF4-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  padding: 30px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#home-page #box-2 {
  height: calc(100vh - 88px);
  width: 100%;
  background-image: url(../images/nathan-dumlao-EdULZpOKsUE-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  display: table;
  background-attachment: fixed;
  text-align: center; }

#home-page h1 {
  font-family: arial black;
  font-size: 50px;
  color: white;
  margin: 0px;
  text-align: center;
  vertical-align: middle; }

#home-page #heading1 {
  margin-top: 0; }

#home-page #parallax-container {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  #home-page #parallax-container .parallax {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    margin-bottom: -10px !important; }
  #home-page #parallax-container .parallax-background {
    width: 100vw;
    filter: brightness(70%); }
  #home-page #parallax-container .parallax-content {
    min-height: 70vh;
    color: white; }
  #home-page #parallax-container .parallax-content p {
    font-size: 1.8em;
    text-align: center; }

#home-page #box-2 {
  height: calc(100vh - 88px);
  width: 100%;
  background-image: url(../images/nathan-dumlao-EdULZpOKsUE-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  display: table;
  background-attachment: fixed;
  text-align: center; }

#home-page h1 {
  font-family: arial black;
  font-size: 50px;
  color: white;
  margin: 0px;
  text-align: center;
  vertical-align: middle; }

#home-page #heading1 {
  margin-top: 0; }

@media (min-width: 576px) {
  #home-page #logoimage1 {
    width: 50%;
    margin-top: 120px; } }

@media (max-width: 575px) {
  #home-page #logoimage1 {
    width: 50%;
    margin-top: 120px; } }

@media (min-width: 768px) {
  #home-page #logoimage1 {
    width: 40%;
    margin-top: 120px; } }

@media (min-width: 991px) {
  #home-page #logoimage1 {
    width: 35%;
    margin-top: 10%; } }

@media (min-width: 1200px) {
  #home-page #logoimage1 {
    width: 25%;
    margin-top: 120px; } }

@media (min-width: 300px) {
  #home-page #heading1 {
    font-size: 36px; } }

@media (min-width: 576px) {
  #home-page #heading1 {
    font-size: 36px;
    margin-top: 20px; } }

@media (min-width: 991px) {
  #home-page #heading1 {
    font-size: 36px; } }

@media (min-width: 1200px) {
  #home-page #heading1 {
    font-size: 42px; } }

@media (min-width: 767px) {
  #home-page #heading1 {
    font-size: 36px; } }

@media (min-width: 576px) {
  #home-page #heading1 {
    font-size: 36px; } }

#home-page a:hover {
  color: #000000; }

#home-page a:hover {
  color: #636262; }

#CardHolder .card-header {
  background-color: #269d9d; }

#CardHolder .card {
  border: none;
  box-shadow: 5px 12px 10px -2px; }

#CardHolder .card-item {
  padding-top: 30px; }

#like-button .like {
  text-decoration: none;
  color: #269d9d;
  cursor: pointer; }

#like-button .liked {
  text-decoration: none;
  cursor: pointer;
  color: red; }

#dashboard {
  padding-top: 50px;
  min-height: calc(100vh - 88px);
  background-color: #f3f3f3; }

#profile-page #header {
  background: #f3f3f3;
  height: 250px;
  background-image: url("../images/sharon-mccutcheon-62vi3TG5EDg-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#profile-page #info {
  max-width: 700px; }
  #profile-page #info h2, #profile-page #info .info-stats {
    color: white;
    text-shadow: 0px 0px 3px black;
    font-weight: bold; }

@media (min-width: 576px) {
  #profile-page #displayPicture {
    height: 250px;
    width: 250px;
    background: black;
    border-radius: 10px;
    top: 40px;
    margin-left: 50px;
    background-image: url("../images/IMG_2879.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #269D9D; } }

@media (min-width: 300px) {
  #profile-page #displayPicture {
    height: 100px;
    width: 100px;
    background: black;
    border-radius: 10px;
    top: 40px;
    margin-left: 50px;
    background-image: url("../images/IMG_2879.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #269D9D;
    margin: 0 auto;
    margin-top: 25px; } }

@media (min-width: 768px) {
  #profile-page #displayPicture {
    height: 250px;
    width: 250px;
    background: black;
    border-radius: 10px;
    top: 80px;
    margin-left: 60px;
    background-image: url("../images/IMG_2879.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #269D9D;
    margin: 0 auto;
    margin-top: 25px; } }

@media (min-width: 768px) {
  #profile-page #info {
    margin-left: 20px;
    margin-top: 110px;
    text-align: left; } }

@media (min-width: 992px) {
  #profile-page #info {
    margin-left: 20px;
    margin-top: 110px;
    text-align: left !important; } }

@media (min-width: 768px) {
  #profile-page #info {
    margin-left: 20px;
    margin-top: 110px;
    text-align: left !important; } }

@media (min-width: 576px) {
  #profile-page #info {
    text-align: center; } }

@media (min-width: 300px) {
  #profile-page #info {
    text-align: center; } }

@media (min-width: 992px) {
  #profile-page #info-panel {
    margin: 0 10px 0 20px;
    background-color: white;
    height: 100%;
    border-radius: 10px;
    padding: 20px 35px; } }

@media (min-width: 768px) {
  #profile-page #info-panel {
    /*margin: 0 10px 0 20px;*/
    background-color: white;
    height: 100%;
    border-radius: 10px;
    padding: 20px 35px; } }

#profile-page .h3, #profile-page h3 {
  margin-bottom: 25px; }

@media (min-width: 1200px) {
  #profile-page .heading-col {
    width: 300px; } }

@media (min-width: 992px) {
  #profile-page .heading-col {
    width: 200px; } }

@media (min-width: 768px) {
  #profile-page .heading-col {
    width: 150px; } }

@media (min-width: 768px) {
  #profile-page #pictureholder {
    margin-left: 60px; } }

#profile-page .fbox3 > div[class*="col"] {
  padding-top: 5px;
  padding-bottom: 5px; }
